@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?48127106');
  src: url('../font/fontello.eot?48127106#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?48127106') format('woff'),
       url('../font/fontello.ttf?48127106') format('truetype'),
       url('../font/fontello.svg?48127106#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?48127106#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-vespertino-01:before { content: '\e800'; } /* '' */
.icon-twitter-01:before { content: '\e801'; } /* '' */
.icon-blog-01:before { content: '\e802'; } /* '' */
.icon-instalaciones-01:before { content: '\e803'; } /* '' */
.icon-mail-01:before { content: '\e804'; } /* '' */
.icon-matutino:before { content: '\e805'; } /* '' */
.icon-mejora:before { content: '\e806'; } /* '' */
.icon-flecha-01:before { content: '\e807'; } /* '' */
.icon-tache-01:before { content: '\e808'; } /* '' */
.icon-share-01:before { content: '\e809'; } /* '' */
.icon-servicios-01:before { content: '\e80a'; } /* '' */
.icon-seguridad-01:before { content: '\e80b'; } /* '' */
.icon-programaapoyo-01:before { content: '\e80c'; } /* '' */
.icon-print-01:before { content: '\e80d'; } /* '' */
.icon-pregunta-01:before { content: '\e80e'; } /* '' */
.icon-califica-01:before { content: '\e80f'; } /* '' */
.icon-calculadora-01:before { content: '\e810'; } /* '' */
.icon-buscar-01:before { content: '\e811'; } /* '' */
.icon-califica2-01:before { content: '\e812'; } /* '' */
.icon-check-01:before { content: '\e813'; } /* '' */
.icon-comentario-01:before { content: '\e814'; } /* '' */
.icon-comentario2-01:before { content: '\e815'; } /* '' */
.icon-twitter-1:before { content: '\e816'; } /* '' */
.icon-conoce-01:before { content: '\e817'; } /* '' */
.icon-desk-01:before { content: '\e818'; } /* '' */
.icon-enlace-01:before { content: '\e819'; } /* '' */
.icon-estrella-01:before { content: '\e81a'; } /* '' */
.icon-escuela-01:before { content: '\e81b'; } /* '' */
.icon-familia-01:before { content: '\e81c'; } /* '' */
.icon-fb-01:before { content: '\e81d'; } /* '' */
.icon-fb:before { content: '\e81e'; } /* '' */
.icon-compara-1:before { content: '\e81f'; } /* '' */
.icon-compara:before { content: '\e820'; } /* '' */
.icon-escritorio-01:before { content: '\e821'; } /* '' */