@import url('reset.css'); 
@import url('stickyFooter.css');

html{background:#F4F4F4!important}
body{font-family:'Open Sans', sans-serif;background:#F4F4F4!important;font-size: 14px}

/*General*/
a{text-decoration:none;}
strong{font-weight: 700}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus::-webkit-textarea-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-textarea-placeholder { color:transparent; } /* IE 10+ */
.container{max-width: 900px;margin: 0 auto}
.space-between{justify-content:space-between;}
.container.medium-width{max-width: 768px!important}
.hidden{display:none;}
.clear{clear:both;}
.jscrollpane{overflow:auto;}
.sprites{background:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/sprites.png);}
.sprites.icon{display:block;position:absolute;}
.button-bordered{background: transparent;border: 2px solid #fff;color: #fff;display: block;margin: 0 auto;max-width: 280px;padding: 2px 4px;}
.full-size-link{position: absolute;height: 100%;left: 0;top: 0;width: 100%;z-index: 1}
.vertical-align-center{
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.horizontal-align-center{
	display: flex;
	justify-content: center;
}
.flex-container{display: flex}
.full-height{height: 100%;}
.item-align-bottom{
	display: flex;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

md-tabs.md-default-theme md-tabs-ink-bar:before{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 4px;
	width: 0;
	height: 0;
	background: #ffff85;
	border-style: solid;
	border-width: 0 7.5px 8px 7.5px;
	border-color: transparent transparent #007bff transparent;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{background: none;box-shadow: none}
.leaflet-container a.leaflet-popup-close-button{color: #5D5D5D;top: 15px;right: 21px;z-index: 99}

/*Header*/
#header{background: #fff}
#header .menu{background-color:white;height:90px;z-index: 2;position: relative;}
#header .menu #button-menu-mobile{background: #08863D;cursor: pointer;display: none;position: absolute;height: 35px;padding: 5px 0;left: 15px;top: 15px;width: 35px;z-index: 1}
#header .menu #button-menu-mobile hr{background: #fff; border-radius: 3px;margin: 3px 5px; height: 4px; }
#header .menu .container{height: 100%;position:relative;}
#header .menu .container .row-links{height: 100%}
#header .menu a.principal{display:block;text-align:center;color:#17B9F3;font-size:16px;height: 100%;padding:15px 6px;line-height:17px;font-size:17px;position:relative;z-index: 1;
-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}
#header .menu a.principal:before{content:"";position:absolute;width:1px;display:block;height:100%;background:#F2F2F2;top:0;left:0;}
#header .menu a.principal:first-child{border:none;}
#header .menu a.principal:hover{color:white;}
#header .menu a.principal i{display:block;font-size: 32px;margin-bottom: 8px}
#header .menu a.principal i.icon-compara-01{margin-left: -50px; font-size: 22px; margin-bottom: 11px; margin-top: 7px;}
#header .menu a + a + a{margin-left:1px;}
#header .menu a.principal:hover{color:white;}/*background-color:#00ADF3;*/
#header .menu a.principal:after{content:'';width:100%;position:absolute;top:0;left:0;height:0;background:#00ADF3;z-index:-1;
-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-o-transition: height .2s;
	-ms-transition: height .2s;
	transition: height .2s;
}
#header .menu a.principal:hover:after{height:100%}
#header .menu a.logo{width:auto;margin:6px 18px 0 14px;padding:0;background-color:transparent;}
#header .menu a.logo:before{background-color:transparent;}
#header .menu a.logo:hover{background-color:transparent;}
#header .menu a.logo img{max-width: 100%}
#header .menu a[href$='/compara/']{margin-left:-4px;}
#header .menu .social-icons{padding-top: 30px}
#header .menu .social-icons i{color: #17B9F3;font-size: 30px;}

/*Sub header*/
#header #sub-header{background: #08863D;padding-top: 10px}
#header #sub-header .column-left .kid-image{max-width: 100%}
#header #sub-header .column-right .titles{color: #fff;}
#header #sub-header .column-right .titles h1{margin: 0;font-weight: 400;font-size: 16px;line-height: 22px;margin-top: 20px}
#header #sub-header .column-right .titles p{line-height: 1.4}
#header #sub-header .column-right.center-content{padding:0px 10px 25px 10px;text-align: center;}
/*Buscador subheader*/
#simple_search{margin-top: 10px;padding: 10px 0}
#simple_search .input-field{position: relative;}
#simple_search .input-field input[type="text"]{background: #fff;border: 2px solid #fff;display: block;font-size: 14px;padding: 9px;width: 100%}
#simple_search .input-field button{background: none;border: 0;color: #08863D;font-size: 21px;position: absolute;right: 6px;top: 6px}
#simple_search .button-bordered{font-size: 14px;padding: 5px 4px;text-align: center;}


/*Menu moviles*/
#sidebar-menu{position: fixed;}
md-toolbar.md-default-theme{background: #08863D!important}
#sidebar-menu md-content.md-default-theme{padding: 0}
#sidebar-menu ul li button{text-align: left;width: 100%}
#sidebar-menu ul li a{color: #08863D;font-size: 18px}
#sidebar-menu #close-button{color: #fff;margin-left: 10px}



#content .container{margin: 25px auto;max-width: 900px}
#content .icon-container{position: relative;}
#content .icon-container .icon-wrapper{height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

#content .container{}

/*Home*/
#content .container #home-content{-webkit-flex: 0 0 68%; -ms-flex: 0 0 68%; flex: 0 0 68%; max-width: 68%; }
#content .container #sidebar{-webkit-flex: 0 0 30%; -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%; }
#content .container #home-video{width: 100%}
#content .container #blog-posts{flex-wrap:wrap;}
#content .container #blog-posts .post{-webkit-flex: 0 0 49%; -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%; }
#content .container #blog-posts .post .post-image{overflow: hidden;}
#content .container #blog-posts .post .post-image img{float: left;max-width: 100%;-webkit-transition: all .4s ease; -moz-transition: all .4s ease; -o-transition: all .4s ease; -ms-transition: all .4s ease; }
#content .container #blog-posts .post:hover .post-image img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);}
#content .container #blog-posts .post .description{background: #F6911B;color: #fff;padding: 12px 20px}
#content .container #blog-posts .post .description h3{margin: 0;line-height: 1.4}
#content .container #blog-posts .post .description a{color: #fff}
#content .container #blog-posts .post .description p{line-height: 1.4}
#content .container #blog-posts .post + .post .description{background: #00AFF0}
#content .container #blog-posts .button-bordered{border: 2px solid #20B45E;color: #20B45E;font-weight: 700;margin: 10px auto;max-width: none;text-align: center;width: 100%}

/*Sidebar(home)*/
#sidebar .email-box{background: #E850A7;color: #fff;margin-bottom: 5px;padding: 10px 12%;text-align: center;}
#sidebar .email-box h4{font-size: 1.1em;margin-bottom: 5px}
#sidebar .email-box input[type="text"]{border: 0;display: block;margin: 0 auto 5px;padding: 3px 4px;width: 100%;}
#sidebar .email-box input[type="submit"]{width: 100%;}
#sidebar .email-box md-checkbox{display: inline-block;margin: 5px 0}
#sidebar .email-box md-checkbox.md-default-theme .md-icon{border-color:#fff;}
#sidebar .email-box md-checkbox.md-default-theme.md-checked .md-icon{background: #fff;}
#sidebar .email-box md-checkbox.md-default-theme.md-checked .md-icon:after{border-color:#E850A7;}
#sidebar .email-box a{color: #fff}
#sidebar .box{color: #fff;font-weight: 700;margin: 5px 0;position: relative;}
#sidebar .box .icon-container{position: relative;}
#sidebar .box .icon-container .icon-wrapper{height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
#sidebar .box .icon-container .icon-wrapper i{font-size: 32px}
#sidebar .box .text-container{padding: 20px 10px}
#sidebar .box-orange{background: #F6911B}
#sidebar .box-green{background: #0A9E48}
#sidebar .box-purple{background: #A633AA}
#sidebar .box-fb{background: #3B5997}
#sidebar .box-tw{background: #30B6FD;margin-bottom: 0}
#sidebar .box-orange .icon-container{background: #EE8913}
#sidebar .box-green .icon-container{background: #0B9444}
#sidebar .box-purple .icon-container{background: #9C2B9F}
#sidebar .box-fb .icon-container{background: #2E4C8A}
#sidebar .box-tw .icon-container{background: #1BA9F5}
#sidebar .box.box-form{text-align: center;}
#sidebar #tweets{background: #fff}
#sidebar .ps-scrollbar-y{background:#30B6FD;}
#sidebar .scroller{height: 500px;overflow-y: hidden;position: relative;}
#sidebar #tweets .tweet .avatar img{border-radius: 50%;display: block;margin: 10px auto;max-width: 80%;}
#sidebar #tweets .tweet .tweet-content{font-size: 12px;padding: 6px;}
#sidebar #tweets .tweet .tweet-content strong a{color: #636363}
#sidebar #tweets .tweet .tweet-content p{color: #636363;font-size: 12px;line-height: 16px;}

/*Breadcrumb*/
#content .container .breadcrumb{margin-bottom: 10px}
#content .container .breadcrumb a{border: 1px solid #05A6EE;color: #05A6EE;padding: 4px 6px}
#content .container .breadcrumb a + a{margin-left: -4px}
#content .container .breadcrumb a.start{background: #05A6EE;color: #fff}

/*Pagination*/
#content .container .pagination a{background: transparent;border: 2px solid #636363;color: #636363;padding: 4px 8px;text-align: center;}
#content .container .pagination a + a{margin-left: 4px}
#content .container .pagination a.on,
#content .container .pagination a:hover{background: #1CA5F5;border: 2px solid #1CA5F5;color: #fff}


/*Menu titulo y tabs*/
#content .container .menu-top .icon-container{position: relative;}
#content .container .menu-top .icon-wrapper{height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
#content .container .menu-top .profile-title .icon-container{background: #1B97ED;color: #fff;position: relative;}
#content .container .menu-top .profile-title .icon-container .icon-wrapper i{font-size: 60px}
#content .container .menu-top .profile-title h1{background: #30B6FD;color: #fff;font-size: 1.4em;font-weight: 700;line-height: 1.4;margin: 0;padding: 20px}
#content .container .menu-top .profile-title p{background: #30A5F5;color: #fff;font-weight: 700;padding: 5px 20px;/*text-transform: uppercase;*/}
#content .container .menu-top .compare-link{background: #0BBC3A;color: #fff;position: relative;text-align: center;}
#content .container .menu-top .compare-link a{color: #fff;font-size: 18px;font-weight: 700;}
#content .container .menu-top .compare-link i{font-size: 44px;font-size: 20px;margin-left: -48px; margin-bottom: 8px; display: block;}
#content .container .menu-top .tabs{position: relative;}
#content .container .menu-top md-tabs{height: 100%;left: 0;position: absolute;top: 0}
#content .container .menu-top md-tabs .md-header{height: 100%}
#content .container .menu-top md-tabs md-tab{font-weight: 700;text-transform: initial}
#content .container .menu-top md-tabs md-tab i{display: block;font-size: 32px}
#content .container .menu-top md-tabs #matutino-tab{background: #E90C8F}
#content .container .menu-top md-tabs #vespertino-tab{background: #8F49CD}
#content .container .menu-top md-tabs.md-default-theme md-tabs-ink-bar{height: 4px}

/*Comment form*/
#content .container .comment-form .icon-container{background: #F3910C;padding: 10px 0;text-align: center;}
#content .container .comment-form .icon-container i{color: #fff;font-size: 40px;}
#content .container .comment-form textarea{border: 0;color:#6C6C6C;padding: 20px;resize: none;}
#content .container .comment-form .fields{background: #F76907;margin-bottom: 6px;padding: 6px}
#content .container .comment-form select,
#content .container .comment-form input[type="email"],
#content .container .comment-form input[type="text"]{background: #fff;border: 0;padding: 6px;}
#content .container .comment-form .md-button,
#content .container .comment-form .check {color: #fff;background: #F3910C;-webkit-flex: 0 0 49%; -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%;}
#content .container .comment-form md-checkbox{margin: 5px;overflow: hidden;}
#content .container .comment-form md-checkbox .md-label{font-size: 10px; line-height: 1.4; padding: 2px; }
#content .container .comment-form p{font-size: 11px}
#content .container .comment-form .extra[aria-hidden="true"]{
    max-height:  0;
}
#content .container .comment-form .extra[aria-hidden="false"]{
    overflow-y: hidden ;
    max-height:  600px;
     transition-property:  all;
     transition-duration:  .5s;
     transition-timing-function:  cubic-bezier(0,  1,  0.5,  1);
}

/*Tabla global de comparacion*/
#content .container .compare-table{margin-top: 10px}
#content .container .compare-table table{border-spacing: 2px;}
#content .container .compare-table th{background: #C8C8C8;color: #4C4C4C;font-size: 18px;padding: 25px;width: 22%}
#content .container .compare-table th + th{background: #1CA5F5;color: #fff;font-size: 12px;font-weight: 700;text-align: center;width: auto}
#content .container .compare-table table th,
#content .container .compare-table table td,
#content .container .compare-table table td p{line-height: 1.2;}
#content .container .compare-table table td p small{font-size: 10px}
#content .container .compare-table table td{background: #E2E2E2;color: #4C4C4C;font-size: 12px;padding: 12px}
#content .container .compare-table table td + td{background: #ECECEC;text-align: center;padding: 0;vertical-align: middle;}
#content .container .compare-table table .footable-row-detail-cell{background: #1B97ED;color: #fff}

#content .container .compare-table table td .md-button{box-shadow: none;color: #4C4C4C;cursor: default;height: 32px;width: 32px;}
#content .container .compare-table table td .md-button.rank4{background: #0BBC3A;color: #4C4C4C}
#content .container .compare-table table td .md-button.rank3{background: #FBFF00;color: #4C4C4C}
#content .container .compare-table table td .md-button.rank2{background: #FA9200;color: #4C4C4C}
#content .container .compare-table table td .md-button.rank1{background: #ED4F43;color: #4C4C4C}
#content .container .compare-table .footable.breakpoint>tbody>tr>td>span.footable-toggle:before{
	content: '\e809';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}


/*Perfil escuela*/
#content .container.profile{}
#content .container.profile .icon-container{position: relative;}
#content .container.profile .icon-wrapper{height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
#content .container.profile #profile-content{margin-top: 10px}
#content .container.profile #profile-content .main-info{-webkit-flex: 0 0 73%; -ms-flex: 0 0 73%; flex: 0 0 73%; max-width: 73%;}
#content .container.profile #profile-content .main-info .info .califica{position: relative;}
#content .container.profile #profile-content .main-info .info .califica .icon-container{background: #FF7312;color: #fff;font-size: 38px;}
#content .container.profile #profile-content .main-info .info .califica h4{background: #F66806;color: #fff;font-weight: 700;padding: 25px 8px;margin: 0;text-align: center;}
#content .container.profile #profile-content .main-info .info .block{background: #fff;padding: 20px 10px}
#content .container.profile #profile-content .main-info .info .block ul li:before{content: "\002022";color: #00AFF0;font-size: 16px;margin-right: 5px;}
#content .container.profile #profile-content .main-info .info .block ul li{color: #6C6C6C;font-size: 12px;line-height: 1.4}
#content .container.profile #profile-content .main-info .address,
#content .container.profile #profile-content .main-info .counters{background: #1CA5F5;color: #fff;font-size: 12px;padding: 12px;}
#content .container.profile #profile-content .main-info .address{background: #DADADA;color: gray;}
#content .container.profile #profile-content .main-info .address li{font-weight: 700}
#content .container.profile #profile-content .main-info .address li:before{color: gray!important}
#content .container.profile #profile-content .main-info .counters .icon-box{text-align: center;font-size: 28px}
#content .container.profile #profile-content .main-info .counters .icon-box.small{font-size: 50px}
#content .container.profile #profile-content .main-info .counters div[flex="50"]{padding: 5px}
#content .container.profile #profile-content .main-info .counters .number{font-size: 20px;text-align: center}
#content .container.profile #profile-content .main-info .address ul li:before{content: "\002022";color: #fff;font-size: 16px;margin-right: 5px;}
#content .container.profile #profile-content .semaphore{}
#content .container.profile #profile-content .semaphore h4{background: #8D5AB9;color: #fff;font-size: 14px;font-weight: 700;text-align: center;padding: 10px;margin: 0}
#content .container.profile #profile-content .semaphore ul li .label{background: #D3D3D3;color: #838383;padding: 12px 15px}
#content .container.profile #profile-content .semaphore ul li + li{margin-top: 2px}
#content .container.profile #profile-content .semaphore ul li .circle{text-align: center;}
#content .container.profile #profile-content .semaphore ul li .circle .md-button{box-shadow: none;color: #4C4C4C;cursor: default;margin-top: 6px;height: 36px;width: 36px;}
#content .container.profile #profile-content .semaphore ul li.rank1.on .label,
#content .container.profile #profile-content .semaphore ul li.rank1 .md-button{background: #0BBC3A;color: #4C4C4C}
#content .container.profile #profile-content .semaphore ul li.rank2.on .label,
#content .container.profile #profile-content .semaphore ul li.rank2 .md-button{background: #FBFF00;color: #4C4C4C}
#content .container.profile #profile-content .semaphore ul li.rank3.on .label,
#content .container.profile #profile-content .semaphore ul li.rank3 .md-button{background: #FA9200;color: #4C4C4C}
#content .container.profile #profile-content .semaphore ul li.rank4.on .label,
#content .container.profile #profile-content .semaphore ul li.rank4 .md-button{background: #ED4F43;color: #4C4C4C}
#content .container.profile #profile-content .semaphore ul li.on .label{color: #fff}
#content .container.profile #profile-content .semaphore .options{margin-top: 20px}
#content .container.profile #profile-content .semaphore .options .option{
	background: #1CA5F5;color: #fff;font-size: 18px;text-align: center;padding: 30px 5px;
	-webkit-flex: 0 0 49%; -ms-flex: 0 0 49%; flex: 0 0 49%; max-width: 49%;
}
#content .container.profile #profile-content .additional-info{margin-top: 10px}

#content .container.profile #profile-content .additional-info .data{-webkit-flex: 0 0 73%; -ms-flex: 0 0 73%; flex: 0 0 73%; max-width: 73%;}

#content .container.profile #profile-content .additional-info .scroll-links{margin-top: 10px}
#content .container.profile #profile-content .additional-info .scroll-links .link{line-height: 1.4;text-transform: initial; padding: 4px;text-align: center;max-width: 48%;-webkit-flex: 0 0 48%; -ms-flex: 0 0 48%; flex: 0 0 48%;}
#content .container.profile #profile-content .additional-info .scroll-links .link[flex="32"]{max-width: 32%;-webkit-flex: 0 0 32%; -ms-flex: 0 0 32%; flex: 0 0 32%;}
#content .container.profile #profile-content .additional-info .scroll-links .desempeno-tab{border:2px solid #8E62C1;color:#8E62C1;}
#content .container.profile #profile-content .additional-info .scroll-links .infraestructura-tab{border:2px solid #E850A7;color:#E850A7;}
#content .container.profile #profile-content .additional-info .scroll-links .comentarios-tab{border:2px solid #0BBC3A;color:#0BBC3A;}


#content .container.profile #profile-content .additional-info .desempeno h2{background: #8E62C1;color: #fff;font-size: 14px;font-weight: 700;padding: 6px 12px;}
#content .container.profile #profile-content .additional-info .desempeno .block{background: #fff;padding: 8px}
#content .container.profile #profile-content .additional-info .desempeno .block p{font-size: 12px;line-height: 1.2}
#content .container.profile #profile-content .additional-info .desempeno .block .number{background: #8E62C1;color: #fff;padding: 4px;text-align: center;}
#content .container.profile #profile-content .additional-info .desempeno .chart-block{margin-top: 8px}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .purple{background: #8E62C1;color: #fff;text-align: center;padding: 16px 0 0;}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .purple .i-cont{margin-bottom: 10px}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .purple i{font-size: 40px;}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .purple p{line-height: 1.2}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .purple .label{background:#7B49AA;color: #fff;margin-top: 10px;padding: 4px;}
#content .container.profile #profile-content .additional-info .desempeno .chart-block .chart{background: #fff;padding: 6px;}


#content .container.profile #profile-content .additional-info .tables-box .table-top{color: #6E6E6E;font-weight: 700;background: #B7B7B7}
#content .container.profile #profile-content .additional-info .tables-box .table-top .i-cont{background: #E8299A;color: #fff;font-size: 20px;padding:6px 10px;text-align: center;}
#content .container.profile #profile-content .additional-info .tables-box .table-top p{padding: 12px 14px;}
#content .container.profile #profile-content .additional-info .tables-box .table-top div + div + div{text-align: center;}
#content .container.profile #profile-content .additional-info .tables-box table{width: 100%}
#content .container.profile #profile-content .additional-info .tables-box table td{background: #D5D5D5;border-bottom: 2px solid #F4F4F4;color: #757575;font-size: 12px;padding: 10px 15px;width: 75%;}
#content .container.profile #profile-content .additional-info .tables-box table td + td{background: #CBCBCB;padding: 10px;width: 25%;text-align: center;}


#content .container.profile #profile-content .additional-info .infraestructura h2{background: #E850A7;color: #fff;font-size: 14px;font-weight: 700;padding: 6px 12px;}
#content .container.profile #profile-content .additional-info .infraestructura .table-top .i-cont{background: #E8299A;}

#content .container.profile #profile-content .additional-info .comentarios h2{background: #0BBC3A;color: #fff;font-size: 14px;font-weight: 700;padding: 6px 12px;}
#content .container.profile #profile-content .additional-info .comentarios h2 .total{background: #009247;font-size: 12px;line-height: 1.2;padding: 4px}
#content .container.profile #profile-content .additional-info .comentarios h2 .total .icon-box{text-align: center;font-size: 30px}
#content .container.profile #profile-content .additional-info .comentarios h2 .total div + div + div{text-align: center;font-size: 20px}
#content .container.profile #profile-content .additional-info .comentarios .table-top .i-cont{background: #00A650;}
#content .container.profile #profile-content .additional-info .comentarios .comments-list li{background: #fff;padding: 14px;}
#content .container.profile #profile-content .additional-info .comentarios .comments-list li + li{border-top: 1px solid #F5F5F5}
#content .container.profile #profile-content .additional-info .comentarios .comments-list li .green{color: #00A936}
#content .container.profile #profile-content .additional-info .comentarios .comments-list li p{color: #9A9A9C;line-height: 1.4;font-size: 13px}
#content .container.profile #profile-content .additional-info .comentarios .comments-list li p + p + p{color: #838383}
#content .container.profile #profile-content .compare-button{background: #20B45E;color: #fff;font-weight: 700;float: left;margin-top: 10px;width: 25%;padding: 5px;text-align: center;}
#content .container.profile #profile-content .pagination{float: right;margin-top: 10px;}

#content .container.profile .section-image{background: #fff;padding: 24px 0;text-align: center;}
#content .container.profile .section-image h3{color: #339DD1;font-size: 24px}
#content .container.profile .section-image img{margin:30px 0;width: 85%}
/*Perfil biblioteca*/
#content .container.profile .section-image img{margin-top: 25px}

#content .container.profile #profile-content .sidebar .box-yesno{background-color: #E9068B;color: #fff;font-size: 15px;margin-top: 10px;padding: 10px;text-align: center;}
#content .container.profile #profile-content .sidebar .box-yesno.orange{background-color: #F6911B}
#content .container.profile #profile-content .sidebar .box-yesno.green{background-color: #16A452;}
#content .container.profile #profile-content .sidebar .box-yesno i{font-size: 36px}
#content .container.profile #profile-content .sidebar .box-yesno + .box-yesno i{font-size: 40px}
#content .container.profile #profile-content .sidebar .box-yesno p{line-height: 1.2}
#content .container.profile #profile-content .sidebar .box-yesno .yes,
#content .container.profile #profile-content .sidebar .box-yesno .no{display: inline-block;margin-top: 8px}
#content .container.profile #profile-content .sidebar .box-yesno .circle{border: 2px solid #fff;border-radius: 50%;display: block;height: 14px;width: 14px}
#content .container.profile #profile-content .sidebar .box-yesno .on .circle{background: #fff}
#content .container.profile #profile-content .sidebar .programs{margin-top: 14px}
#content .container.profile #profile-content .sidebar .programs h5{background: #B0B0B0;color: #6E6E6E;font-weight:700;margin: 0;padding: 10px;text-align: center;}
#content .container.profile #profile-content .sidebar .programs ul li{background: #DADADA;color: #999999;font-size: 12px;font-weight:700;line-height: 1.2;padding: 5px 4px}
#content .container.profile #profile-content .sidebar .programs ul li div[flex="75"]{padding: 8px 0}
#content .container.profile #profile-content .sidebar .programs ul li.on{background: #1CA5F5;color: #fff}
#content .container.profile #profile-content .sidebar .programs ul li.on div[flex="25"]{padding: 10px 0;text-align: center;}
#content .container.profile #profile-content .sidebar .programs ul li i{background: transparent;border: 2px solid #1CA5F5;display: block;border-radius: 50%;font-size: 11px;margin: 0 auto;padding: 6px 0;height: 24px;width: 24px;}
#content .container.profile #profile-content .sidebar .programs ul li.on i{background: #fff;border: 2px solid #FFF;color: #1CA5F5;}
#content .container.profile #profile-content .sidebar .programs ul li.on i:before{content: '\e81e';}

/*charts escuela*/
#content .container.profile .chart .legend_chart{display:inline-block;vertical-align:top;margin-top:19px;background:#ECECEC;width:80px;height:127px;padding-top:15px;}
#content .container.profile .chart .legend_chart p{margin-left:23px;font-size:15px;line-height:14px;margin-bottom:5px;color:#A7A7A7;}
#content .container.profile .legend_chart p .circle{width:13px;height:13px;display:inline-block;vertical-align:top;background:white;border-radius:50%;margin-right:6px;}
#content .container.profile .legend_chart .under{margin:-8px 0 9px 8px;font-size:21px;color:#919191;}
#content .container.profile .legend_chart .under + p{margin:0 0 0 0px;font-size:14px;text-align:center;}
#content .container.profile .content_chart{overflow:hidden;width:351px;display:inline-block;height:145px;}

/*infobox*/
.infoBox{width:236px;color:white;background:#5D5D5D;position:relative;}
.infoBox:before{content:'';display:block;position:absolute;left:50%;bottom:-12px;width: 0;height:0;border-left:13px solid transparent;border-right: 13px solid transparent;border-top: 13px solid #5d5d5d;margin-left:-13px;}
.infoBox a{padding:11px 13px;color:white!important;background-color:#0BA14A;font-size:13px!important;line-height:19px!important;display:block;}
.infoBox p{padding:2px 12px;}
.infoBox .rank{font-size:21px;margin:5px 2px 0 5px;float:left;}
.infoBox .cup{background-image: url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/comparador_posicion_mapa.png);width:17px;height:17px;margin:14px 0 0;float:left;}
.infoBox .pos{float:left;font-size:9px;width:70px;margin:12px 0 0 1px;line-height:11px;}
.infoBox .semafo{width:26px!important;height:26px;background-color:white;border-radius:50%;margin:9px 10px;float:left;background-repeat:no-repeat;background-position:center;}
.infoBox .semafo.sem0{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_reprobado_map.png);}
.infoBox .semafo.sem1{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_panzazo_map.png);}
.infoBox .semafo.sem2{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_bien_map.png);}
.infoBox .semafo.sem3{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_excelente.png);}
.infoBox .semafo.sem4{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_negro_s.png);}
.infoBox .semafo.sem5{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/compara_rojo_s.png);}
.infoBox .semafo.sem6{background-image:url(http://3903b795d5baf43f41af-5a4e2dc33f4d93e681c3d4c060607d64.r40.cf1.rackcdn.com/perfil_gris_s.png);}

/*Califica*/
#content .container.califica{}
#content .container.califica .green-title{background: #1CA344;color: #fff;font-size: 16px;line-height: 1.2;margin: 18px auto;padding: 15px 25px;text-align: center;}
#content .container.califica .questions-box{margin: 0px auto 15px}
#content .container.califica .questions-box .question{
	-webkit-flex: 0 0 49%;
	-ms-flex: 0 0 49%;
	flex: 0 0 49%;
	max-width: 49%;
}
#content .container.califica .questions-box .question-title{background: #F76907;color: #fff}
#content .container.califica .questions-box .question-title i{font-size: 30px}
#content .container.califica .questions-box .question-title.q1{background: #F3910C;}
#content .container.califica .questions-box .question-title.q1 .icon-container{background: #F76907}
#content .container.califica .questions-box .question-title.q2{background: #E80B8F}
#content .container.califica .questions-box .question-title.q2 .icon-container{background: #C10E72}
#content .container.califica .questions-box .question-title.q3{background: #8F49CD}
#content .container.califica .questions-box .question-title.q3 .icon-container{background: #7B49AA}
#content .container.califica .questions-box .question-title h3{padding: 2px 15px}
#content .container.califica .question-content{background: #fff;color: #676968;font-weight: 700;}
#content .container.califica .question-content .text{padding: 20px 15px}
#content .container.califica .question-content .text h3{margin: 0}
#content .container.califica .question-content .ans{background: #BBBBBC;color: #fff;cursor: pointer;padding: 10px;text-align: center;}
#content .container.califica .question-content .ans + .ans{border-left: 1px solid}
#content .container.califica .question-content .ans:hover{background: #30B6FD;color: #fff}
#content .container.califica .result{background: #1CA344;color: #fff;font-weight: 700;margin: 20px auto 0;text-align: center;}
#content .container.califica .result p{}
#content .container.califica .result .desc{font-weight: 400;font-size: 16px;padding: 15px;text-align: left;}
#content .container.califica .result .number{background: #009247;color: #fff;font-size: 28px;text-align: center;}

/*Compara/escuelas*/
#content .container.compare .menu-top .tabs{height: 80px}
#content .container.compare .menu-top .tabs .general-tab{background: #E850A7}
#content .container.compare .menu-top .tabs .results-tab{background: #22B461}
#content .container.compare .menu-top .tabs .student-tab{background: #F3910C}
#content .container.compare .menu-top .tabs .map-tab{background: #8E62C1}
#content .container.compare .compare-table.general th + th{background: #E850A7}
#content .container.compare .compare-table.years th + th{background: #22B461}
#content .container.compare .add-school{background: #00AFF0;color: #fff;display: block;margin: 10px auto;max-width: 300px;font-weight: 700;padding: 8px;text-align: center;/*text-transform: uppercase;*/}
#content .container.compare .search-form{background: #00AFF0;margin-top: 20px;padding: 20px}
#content .container.compare .search-form div[flex="30"]{
	-webkit-flex: 0 0 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;	
}
#content .container.compare .search-form .input-row + .input-row{margin-top: 5px}
#content .container.compare .search-form input[type="text"],
#content .container.compare .search-form select{background: #fff;border: 0;color: #818181;display: block;margin-top: 5px;padding: 8px;width: 100%}
#content .container.compare .search-form .submit-row{margin-top: 5px}
#content .container.compare .search-form .s-btn{background: #006FED;border: 0;color: #fff;font-weight: 700;font-size: 16px;margin-top: 10px;padding: 10px;text-align: center;
	-webkit-flex: 0 0 48%;
	-ms-flex: 0 0 48%;
	flex: 0 0 48%;
	max-width: 48%;	
}
#content .container.compare .search-form .s-btn.green-button{background: #22B461}


/*Compara resultados*/
#content .container.results #filters{
	-webkit-flex: 0 0 28%;
	-ms-flex: 0 0 28%;
	flex: 0 0 28%;
	max-width: 28%;
}
#content .container.results{width:100%;max-width:100%;padding:0 40px;}
#content .container.results #filters .text-field input{border: 0;padding: 10px}
#content .container.results #filters .text-field input[type="submit"]{background: #00AFF0 url(../img/lupa_blanca.png) center no-repeat;background-size: 20px}
#content .container.results #filters select{display: block; background: #fff; color: #636363;width: 100%; border: 0; padding: 6px 8px;}
#content .container.results #filters select:disabled{opacity: .5}
#content .container.results #filters label{display: block;margin-top: 8px;font-weight: 700}
#content .container.results #filters md-checkbox{margin: 0}
#content .container.results #results{}
#content .container.results #results h2{margin: 0}
#content .container.results #results .order-by select{float: right;margin-top: 2px;background: #fff; color: #636363;border: 0; padding: 6px 8px;}
#content .container.results #results .order-by label{float: right;font-weight: 700;margin-top: 6px;margin-right: 6px}
#content .container.results #results .compare-button{background: #20B45E;color: #fff;font-weight: 700;float: left;margin-top: 10px;width: 25%;padding: 5px;text-align: center;}
#content .container.results #results .pagination{float: right;margin-top: 10px;}

/*Post(normal)*/
#content .container.post{}
#content .container.post .post-title .icon-container{background: #1E98EB;font-size: 26px}
#content .container.post .post-title{background: #30B6FD;color: #fff;/*text-transform: uppercase;*/}
#content .container.post .post-title h1{font-size: 22px;padding: 0 15px}
#content .container.post .post-content{background: #fff;color: #808080;;margin-top: 20px;padding: 35px}
#content .container.post .post-content h2{color: #18B3DF;margin: 0;/*text-transform: uppercase;*/}
#content .container.post .post-content p{margin-bottom: 10px;line-height: 1.4}
#content .container.post .post-content a.link{color: #E9036F}
#content .container.post .post-content ul{margin-left: 10%}
#content .container.post .post-content ul li:before{content: "\002022";color: #E9036F;font-size: 16px;font-weight: 700;margin-right: 5px;}
#content .container.post .post-content .charts-images img{height: 365px;width: 32%;}
#content .container.post .post-content .charts-images img + img{margin-left: 2%}
#content .container.post .button-bordered{border: 2px solid #E9036F;color: #E9036F;font-weight: 700;max-width: 340px;margin-top: 20px;padding: 6px 10px;text-align: center;}

/*Blog*/
#content .container.blog .top{background: #F7921C;padding: 15px 25px}
#content .container.blog .top h2{color: #fff;font-size: 18px;margin: 4px 0 0}
#content .container.blog .top .search-field input{border: 0;padding: 10px}
#content .container.blog .top .search-field input[type="submit"]{background: #F66814 url(../img/lupa_blanca.png) center no-repeat;}
#content .container.blog .feed{margin-top: 20px}
#content .container.blog .feed .post + .post{margin-top: 15px}
#content .container.blog .post .post-top .post-title{background: #0087F0;border-bottom: 2px solid #EEEEEE;color: #fff;display: block;font-size: 15px;padding: 15px}
#content .container.blog .post .post-top .post-prev{background: #fff;border-bottom: 2px solid #EEEEEE;color: #8F8F8F;display: block;padding: 15px 10px;line-height: 1.2}
#content .container.blog .post .post-top .share{background: #00AFF0;color: #fff;padding: 15px 20px;text-align: center;}
#content .container.blog .post .post-top .social-icons{font-size: 24px;position: relative;}
#content .container.blog .post .post-top .social-icons .row-icons{height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
#content .container.blog .post .post-top .social-icon{background: #fff;border-left: 2px solid #EEEEEE;color: #00AFF0;}
#content .container.blog .post .post-top .stars-wrap{background: #fff;border-left: 2px solid #EEEEEE;padding: 10px 0;font-size: 16px;text-align: center;}
#content .container.blog .post .post-top .stars-wrap i{color: yellow;}
#content .container.blog .post .post-top .stars-wrap i + i{margin-left: 4px}
#content .container.blog .sidebar-blog{
	margin-top: 20px;
	-webkit-flex: 0 0 28%;
	-ms-flex: 0 0 28%;
	flex: 0 0 28%;
	max-width: 28%;
}
#content .container.blog .sidebar-blog h3{background: #00AFF0;color: #fff;font-weight: 400;font-size: 14px;margin: 0 0 10px 0;padding: 12px 0;text-align: center;/*text-transform: uppercase;*/}
#content .container.blog .sidebar-blog h3.link{background: #0086EF}
#content .container.blog .sidebar-blog h3.link a{color: #fff}
#content .container.blog .sidebar-blog h3.no-margin{margin: 0}
#content .container.blog .sidebar-blog .recent-posts{margin-bottom: 20px}
#content .container.blog .sidebar-blog .recent-posts li{position: relative;}
#content .container.blog .sidebar-blog .recent-posts li + li{margin-top: 4px}
#content .container.blog .sidebar-blog .recent-posts .photo img{max-width: 100%;float: left;}
#content .container.blog .sidebar-blog .recent-posts .post-prev{background: #fff;color: #A2A2A2;padding: 10px}
#content .container.blog .sidebar-blog .recent-posts .post-prev p{line-height: 1.2}
#content .container.blog .sidebar-blog .tags{background: #A8A9AB;color: #fff;margin-bottom: 20px}
#content .container.blog .sidebar-blog .tags a{color: #fff}
#content .container.blog .sidebar-blog .email-box{background: #A8A9AB;color: #fff;margin-bottom: 25px;padding: 10px 12%;text-align: center;}
#content .container.blog .sidebar-blog .email-box input[type="text"]{display: block;margin: 0 auto 5px;padding: 3px 4px;width: 100%;}
#content .container.blog .sidebar-blog .email-box input[type="submit"]{width: 100%;}
#content .container.blog .sidebar-blog .email-box md-checkbox{display: inline-block;margin: 5px 0}
#content .container.blog .sidebar-blog .email-box md-checkbox.md-default-theme .md-icon{border-color:#fff;}
#content .container.blog .sidebar-blog .email-box md-checkbox.md-default-theme.md-checked .md-icon{background: #fff;}
#content .container.blog .sidebar-blog .email-box a{color: #fff}
#content .container.blog .sidebar-blog .box {margin: 15px 0;position: relative;}
#content .container.blog .sidebar-blog .box .icon-container .icon-wrapper i{font-size: 32px}
#content .container.blog .sidebar-blog .box .text-container{padding: 20px 10px;text-align: center;}
#content .container.blog .sidebar-blog .box.download{background:#E90689;color: #fff} 
#content .container.blog .sidebar-blog .box.download .icon-container{background: #C10E72}


#content .container.blog .pagination{margin-top: 20px;text-align: center;}

/*Blog Post individual*/
#content .container.post-individual .top{background: #08863D;}
#content .container.post-individual .top p{color: #fff;line-height: 1.2}
#content .container.post-individual .top .search-field input[type="submit"]{background: #086829 url(../img/lupa_blanca.png) center no-repeat;}
#content .container.post-individual .post-content{background: #fff;margin-top: 20px;padding: 20px}
#content .container.post-individual .post-content img{max-width: 100%}

/*FAQ*/
#content .container.faq .questions li{margin-bottom: 10px;overflow: hidden;}
#content .container.faq .questions .question{background: #F3910C;color: #fff;cursor: pointer;padding: 10px 25px;position: relative;}
#content .container.faq .questions .question .number{margin-right: 20px}
#content .container.faq .questions .question:after{content: '';background: #EE8913;top: 0;right: 0;height: 100%;position: absolute;width: 10%;}
#content .container.faq .questions .question-content{background: #fff;color: #505050;height: 0;padding: 0;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	-o-transition: height .3s;
	-ms-transition: height .3s;
	transition: height .3s;
}
#content .container.faq .questions .question-content.on{height: auto;padding: 25px;}

/*About Us*/
#content .container.about .about-content{color: #808080;;margin-top: 20px;max-width: 68%;}
#content .container.about .about-content p{margin-bottom: 10px;line-height: 1.4}
#content .container.about .about-content .about-text{background: #fff;padding: 35px}
#content .container.about .about-content .logos{text-align: justify;vertical-align: middle;}
#content .container.about .about-content .logos img{max-width: 100%;margin-left: 10px;float: left;}
#content .container.about .about-content .logos img + img{float: right;}
#content .container.about .about-content .green{color: #3BB34F;font-size: 18px;margin: 10px 0;text-align: center;}
#content .container.about .about-content .more-info{background: #3BB34F;color: #fff;text-align: center;}
#content .container.about .about-content .more-info h2{font-size: 1.4em}
#content .container.about .about-content #phone-tab,
#content .container.about .about-content .phone-content{background: #E90C8F;color: #fff;}
#content .container.about .about-content #mail-tab,
#content .container.about .about-content .mail-content{background: #8F49CD;color: #fff}
#content .container.about .about-content .tab-content{padding: 20px;}
#content .container.about .about-content .tab-content p{margin-bottom: 0}
#content .container.about .about-content .tab-content a{color: #fff;text-decoration: underline;}


/*Contact*/
#content .container.contact{background: #00AFF0}
#content .container.contact form{padding: 25px}
#content .container.contact form input{border: 0;padding: 12px 8px}
#content .container.contact form .text-input,
#content .container.contact form .mail-input{
	-webkit-flex: 0 0 49%;
	-ms-flex: 0 0 49%;
	flex: 0 0 49%;
	max-width: 49%;
}
#content .container.contact form textarea{border: 0;margin-top: 15px;padding: 8px;resize:none;width: 100%;}
#content .container.contact form input[type="submit"]{background: #0086EF;color: #fff;margin-top: 15px;text-align: center;font-size: 19px;float: right;padding: 15px;width: 50%;}

/*Mejora*/
#content .container #mejora-content{-webkit-flex: 0 0 68%; -ms-flex: 0 0 68%; flex: 0 0 68%; max-width: 68%; }
#content .container #mejora-content .menu-top .tabs{height: 80px;margin-bottom: 15px}
#content .container #mejora-content .menu-top .tabs #tool-tab{background: #E80D8F}
#content .container #mejora-content .menu-top .tabs #programs-tab{background: #8C49CC}
#content .container #mejora-content .post .more{font-weight: 700;text-align: center;}
#content .container #mejora-content .post .more a{background: #FE7A0E;color: #fff;padding: 10px}
#content .container #mejora-content .post .more a + a{background: #F36C00}
#content .container #mejora-content .post + .post .more a{background: #1B9AE9}
#content .container #mejora-content .post + .post .more a + a{background: #0485D6}
#content .container #mejora-content .post .more i{font-size: 22px}
#content .container #sidebar.mejora-sidebar .search-form{margin-bottom: 15px;}
#content .container #sidebar.mejora-sidebar .search-form input{border: 0;color: #fff;font-weight: 700}
#content .container #sidebar.mejora-sidebar .search-form input[type="text"]{background: #00AFF0;padding: 15px}
#content .container #sidebar.mejora-sidebar .search-form input[type="text"]::-webkit-input-placeholder { color:#fff; }
#content .container #sidebar.mejora-sidebar .search-form input[type="text"]:-moz-placeholder { color:#fff; } /* FF 4-18 */
#content .container #sidebar.mejora-sidebar .search-form input[type="text"]::-moz-placeholder { color:#fff; } /* FF 19+ */
#content .container #sidebar.mejora-sidebar .search-form input[type="text"]:-ms-input-placeholder { color:#fff; } /* IE 10+ */
#content .container #sidebar.mejora-sidebar .search-form input[type="submit"]{background: #0198F1 url(../img/lupa_blanca.png) center no-repeat}
#content .container #sidebar.mejora-sidebar .box-form{background: #F6911B;padding-top: 10px}
#content .container #sidebar.mejora-sidebar .box-form p{line-height: 1.4;padding: 10px}
#content .container #sidebar.mejora-sidebar .box-form p i{font-size: 26px}
#content .container #sidebar.mejora-sidebar .box-form p.icon-p{padding: 0}
#content .container #sidebar.mejora-sidebar .write-us{background: #F2780B}
#content .container #sidebar.mejora-sidebar .write-us .trigger{cursor: pointer;font-weight: 400}
#content .container #sidebar.mejora-sidebar .write-us form{padding: 0 20px 20px 20px}
#content .container #sidebar.mejora-sidebar .write-us input[type="text"],
#content .container #sidebar.mejora-sidebar .write-us input[type="email"]{border: 0;display: block;margin: 0 auto 5px;padding: 6px;width: 100%;}
#content .container #sidebar.mejora-sidebar .write-us .button-bordered{margin-top: 6px;padding: 6px;}

/*Footer*/
#footer{background: #20B45E;color: #fff;padding: 10px 0;text-align: center;min-height: 83px;height: auto}
#footer a{color: #fff}
#footer .menu a{font-weight: 700;font-size: 14px;/*text-transform: uppercase;*/}

/*Error 404*/
#main.e404{background: #00AEF5}
#content .container.e404{color: #fff;text-align: center;}
#content .container.e404 h1{font-size: 50px;font-weight: 700;line-height: 48px}
#content .container.e404 p{font-size: 18px}
#content .container.e404 .e404-image{display: block;margin: 10px auto;max-width: 100%}
#content .container.e404 .button-bordered{font-size: 24px;margin-top: -15%;}
#footer.bottom-e404{background: #009FE1;padding: 12px 0}
#footer.bottom-e404 .container.e404 .link{color: #fff;font-size: 18px;float: left;text-align: center;width: 33%;}
#footer.bottom-e404 .container.e404 .link a{color: #fff}
#footer.bottom-e404 .container.e404 .link i{font-size: 28px}

@media(max-width: 960px){
	#content{padding: 0 12px}
	#footer{padding: 10px 12px}
}

@media (max-width: 960px) and (min-width: 600px){
	#content .container.profile #profile-content .semaphore .options .option{padding: 0px 5px;-webkit-flex: none;-ms-flex: none;flex:none;max-width: none}
	#content .container.profile #profile-content .semaphore .options .option + .option{margin-top: 2px;}
}

@media (max-width: 600px){
	/*General*/
	[flex-sm="100"]{max-width: none!important;-webkit-flex: 1!important; -ms-flex: 1!important; flex: 1!important;}

	/*Header*/
	#header .menu #button-menu-mobile{display: block;}
	#header a[hide-sm]{display: none!important;}
	#header #sub-header{text-align: center;}
	#header #sub-header .column-left{display: none;}
	#header #sub-header .column-right{padding: 10px}
	#header #sub-header .column-right .titles h1{padding: 4px;margin-top: 0}
	#simple_search input[type="text"],
	#simple_search .button-bordered{margin: 0 auto 10px;max-width: 240px;width: 240px}	
	#header .menu a.logo{margin: 0 auto!important;max-width: 50%!important;text-align: center;}
	#header .menu a.logo img{max-width: 100%;margin-top: 10px}

	/*Breadcrumb*/
	#content .container .breadcrumb a + a:before{content: '> ';border: 0}
	#content .container .breadcrumb a.start{color: #05A6EE;background: none}
	#content .container .breadcrumb a{border: 0}

	/*Profile*/
	#content .container.profile .menu .menu-row .profile-title .title-container div[flex="75"]{width: 100%}
	#content .container.profile .menu .menu-row .profile-title .title-container h1{padding: 4px 20px;}
	#content .container.profile .menu md-tabs,
	#content .container.profile .menu .compare-link .icon-wrapper{height: auto;position: relative;left: 0;top: 0}
	#content .container.profile .menu md-tabs .md-header{height: 65px}
	#content .container.profile .menu .compare-link{height: auto;padding: 5px 10px}
	#content .container.profile #profile-content .semaphore .options .option{padding: 0px 5px;}
	#content .container.profile #profile-content .additional-info .data .comment-form md-checkbox .md-label{font-size: 12px}
	#content .container.profile #profile-content .additional-info .data .comment-form .msg{padding: 4px}

	/*Buscador*/
	#content .container.results #results .compare-button{display: block;float: none;margin: 10px auto;width: auto}

}

@media (max-width: 380px){
	#content .container #blog-posts{flex-direction:column;}
	#content .container #blog-posts .post{margin-bottom: 6px;-webkit-flex: none;-ms-flex: none;flex:none;max-width: none}
}
