<link rel="import" href="../bower_components/polymer/polymer.html">
<!--<link rel="import" href="/templates/mtev2/global/simple-search.html">-->

<polymer-element name="sub-header">
	<template>
		<div id="sub-header">
			<div class='home container'>	
				<div class="column-left"><img src="/templates/mtev2/img/{{image}}" class="kid-image" /></div>
				<div class="column-right">
					<div class='titles'>
						<h1>
							<strong>MejoraTuEscuela.org</strong> es una plataforma de participación ciudadana
							para transformar la educación en México
						</h1>
					</div>
					<!--<simple-search></simple-search>-->
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</template>
	<script>
		Polymer({
		  ready: function() {
		    var images = ['header/ninio.jpg','header/ninia.png' ,'header/ninio-preescolar.png'];
		    var rand = Math.floor(Math.random() * 2); //rango de 0 a 2
		    this.image = images[rand];

		  },
		});
	</script>
</polymer-element>


