<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="header-element" noscript>
	<template>
		<div class='menu'>
			<div class='container'>
				<a href='/' class='logo'><img src='/templates/mtev2/img/logo_mejora.png' /></a>
				<a class='prncipal' href='/compara/'>
					<span class='icon'></span>
					<strong>1</strong> CONOCE
				</a>
				<a class='prncipal' href='/compara/escuelas/'>
					<span class='icon'></span>
					<strong>2</strong> COMPARA
				</a>
				<a class='prncipal' href='/califica-tu-escuela/califica/'>
					<span class='icon'></span>
					<strong>3</strong> CALIFICA
				</a>
				<a class='prncipal' href='/mejora'>
					<span class='icon'></span>
					<strong>4</strong> MEJORA
				</a>
				<div class='clear'></div>
			</div>
		</div>
	</template>
</polymer-element>
